
.title-logo {
  font-size: 18px;
  color: #fff;
}



/* tile uploaded pictures */
.upload-list-inline .ant-upload-list-item {
  float: left;
  min-width: 200px;
  margin-inline-end: 8px;
}

.ant-upload-rtl.upload-list-inline .ant-upload-list-item {
  float: right;
}